<!DOCTYPE html>
<html>
  <head>
    <title>Poccuo</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/stylesheets/page.css" />
  </head>

  <body>
    <div id="wrapper">
      <div id="container">
        <div class="header">
          <img src="" />
          <div class="nav">
            <a href="">ABOUT US</a>
            <a href="">WHAT WE DO</a>
            <a href="">OUR WORK</a>
            <a href="">THE LATEST</a>
            <a href="">CONTACT US</a>
          </div><!-- nav close -->
        </div><!-- header close -->

        <div class="main">
          <div class="tagline">
            <p>It&#39;s a July night. Mason is front-end-developing,Phil is conference-calling, and Kim is website-updating..<br /><span class="tagline-twitter"> from <a href="">Poccuo's Twitter</a></span></p>
          </div><!-- tagline close -->

          <div class="clearfix"></div>

          <div class="middle">
					<div class="section">
					  <div class="featured-work">
              <b>Featured Work</b>
						  <div class="more-case-studies">
                <a href="">More Case Studies...</a>
							</div><!-- more case studies -->
					  </div><!-- featured work -->
					</div><!-- /.section -->
					<div class="info">
						<div class="change">
							<img src="images/feature.jpg" />
							<a href="">Center for Gender Health &#38; Equity</a>
							<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
						</div><!-- /.change -->
						<div class="seperator"></div>
						<div class="change">
							<img src="images/feature.jpg" />
							<a href="">Center for Gender Health &#38; Equity</a>
							<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
						</div><!-- /.change -->
						<div class="seperator"></div>
						<div class="change">
							<img src="images/feature.jpg" />
							<a href="">Center for Gender Health &#38; Equity</a>
							<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
						</div><!-- /.change -->
						<div class="clearfix"></div>
					</div><!-- /.info -->				
				</div><!-- /.middle -->
					<div class="middle">
						<div class="section">
						  <div class="featured-work">
                <b>The Latest</b>
							  <div class="more-case-studies">
                  <a href="">More Entries...</a>
								</div><!-- more case studies -->
						  </div><!-- featured work -->
						</div><!-- /.section -->
						<div class="info second">
							<div class="change">
								<img src="images/feature.jpg" />
								<a href="">Center for Gender Health &#38; Equity</a>
								<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
							</div><!-- /.change -->
							<div class="seperator"></div>
							<div class="change">
								<img src="images/feature.jpg" />
								<a href="">Center for Gender Health &#38; Equity</a>
								<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
							</div><!-- /.change -->
							<div class="seperator"></div>
							<div class="change">
								<img src="images/feature.jpg" />
								<a href="">Center for Gender Health &#38; Equity</a>
								<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
							</div><!-- /.change -->
							<div class="seperator"></div>
							<div class="change">
								<img src="images/feature.jpg" />
								<a href="">Center for Gender Health &#38; Equity</a>
								<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
							</div><!-- /.change -->
							<div class="seperator"></div>
							<div class="change">
								<img src="images/feature.jpg" />
								<a href="">Center for Gender Health &#38; Equity</a>
								<p>The Center for Health and Gender Equity (CHANGE) works to advance the sexual and reproductive health and rights of women and girls worldwide. But they needed some help with organizing their web presence, and Poccuo was happy to step in.</p>
              </div><!-- /.change -->

							<div class="clearfix"></div>
						</div><!-- /.info -->
					</div><!-- /.middle -->
      </div><!-- /.main-->
      <div class="footer">
	      <a href="">Home</a>
	      <span class="separator">/</span>
	      <a href="">About Us</a>
	      <span class="separator">/</span>	
      	<a href="">What We Do</a>	
	      <span class="separator">/</span>
        <a href="">Our Work</a>
	      <span class="separator">/</span>
        <a href="">The Latest</a>	
	      <span class="separator">/</span>
        <a href="">Contact</a>
        <span class="separator">/</span>
        <a href="">Facebook</a>	
        <span class="separator">/</span>
        <a href="">Twitter</a>	
        <span class="separator">/</span>
        <a href="">RSS</a>	
        <div class="copyright">All content &#169; Poccuo. <a href="">Privacy Policy</a></div>	
      </div><!-- /.footer-->
        </div><!-- main close -->

      </div><!--container close -->
    </div><!--wrapper close -->
  </body>
</html>

